@use "../../../../styles/colors.scss";
@use "../../../../styles/types.scss";

.button-export {

    background-color: colors.$primary-dark;
    display: flex;
    padding: 12px 24px;
    color: white;
    border-radius: 8px;
    font-family: types.$font-main;
    letter-spacing: types.$letter-spacing;
    text-transform: capitalize;
    align-items: center;
    gap: 12px;
    font-weight: 500;
    
    font-size: 16px;

    &:hover {
        cursor: pointer;
    }

}

.button-export-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;

}
.imageTypeBtnContainer{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    overflow:hidden;
    .divider{
        height: 1px;
        background-color: #CFCFCF;
    }
    button{
        background-color: white;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        text-transform: uppercase;
        font-family: types.$font-main;
        font-weight: 500;
        font-size: 16px;
        &:first-child{
            border-radius: 4px 4px 0px 0px ;
        }
        &:last-child{
            border-radius: 0px 0px 4px 4px;
        }
        &:hover{
            cursor: pointer;
            box-shadow: inset 0px 0px 8px 1px #e7e7e7;
        }
    }
}