@use "../../../../styles/colors.scss";
@use "../../../../styles/types.scss";

.button-export{
    position: absolute;
    background-color: colors.$primary-dark;
    display: flex;
    top: 10px;
    right: 10px;
    padding: 12px;
    color: white;
    border-radius: 8px;
    font-family: types.$font-main;
    letter-spacing: types.$letter-spacing;
    text-transform: capitalize;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    &:hover{
        cursor: pointer;
    }
    
}