.propertiesBar {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  border-top: 1px solid #555;
  scrollbar-width: thin;
  .inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
    label {
      margin-bottom: 8px;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      color: rgba(252, 252, 252, 0.8);
      .input-field {
        background-color: #555;
        margin-top: 4px;
        border: none;
        height: 32px;
        border-radius: 4px;
        padding: 4px;
        box-sizing: border-box;
        font-size: 12px;
        outline: none;
        color: white;
        width: 100%;
      }
    }
  }
}

.w-full {
  flex: 0 0 100%;
}
.w-half {
  flex: 0 0 49%;
}
