//mobile styles

.propertiesBar {
  display: flex;
  flex-direction: column;
  height: 40%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  scrollbar-width: thin;
  letter-spacing: -2%;
  .inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 4px;
    label {
      margin-bottom: 8px;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      color: rgba(252, 252, 252, 0.8);
    }
  }
}

.input-field {
  background-color: rgba(252, 252, 252, 0.03);
  margin-top: 4px;
  border: 1px solid rgba(252, 252, 252, 0.08);
  height: 32px;
  border-radius: 4px;
  padding: 4px;
  box-sizing: border-box;
  font-size: 12px;
  outline: none;
  color: white;
  width: 100%;
}

.border-line {
  width: 100%;
  height: 1.5px;
  background-color: rgba(255, 255, 255, 0.1);
}

.input-field:focus {
  border: 1px solid #3d7dde;
}

.label-text {
  font-size: 12px;
}

.propertiesBar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prop-section-title {
  font-size: 14px;
  color: white;
  margin: 0;
}

.w-full {
  flex: 0 0 100%;
}
.w-half {
  flex: 0 0 49%;
}

//desktop styles
@media (min-width: 768px) {
  .propertiesBar {
    border-top: 1px solid #555;
  }
}
