@use "../../../styles/colors.scss";

.canvas{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: colors.$primary-grey;
    overflow: hidden;
    position: relative;
    border: 2px solid rgb(197, 197, 197);
    padding: 10px;
    box-sizing: border-box;
    &_background{
        background-image: url(../../../assets/polkadot.png);
        background-size: cover;
        height: 100%;
        
    }
}