.select-size{
    display: flex;
    flex-direction: column;
}
.size-options{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.option-card{
    padding: 16px;
    border: 2px solid rgba($color: #000000, $alpha: 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover{
        border: 2px solid rgba($color: #000000, $alpha: 0.4);
        box-shadow: 0px 0px 0px 3px rgba($color: #000000, $alpha: 0.1);
    }
}