.mobile-menu-pop-up {
  max-width: 70vw;
  min-height: 120px;
  
  max-height: 320px;
  height: max-content;
  position: absolute;
  bottom: 90px;
  left: 16px;
  width: 100%;
  background-color: #202020;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #6d6d6d;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #515151;
    padding: 8px ;
    box-sizing: border-box;
    border-radius: 8px 8px 0 0;
  }
  &__content {
    padding: 8px 8px;
    box-sizing: border-box;
    overflow-y: auto;
    width: 100%;
  }
}

.cancel-button {
  width: 32px;
  height: 32px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
