@use "../../../styles/colors.scss";

.uploadModal {
    background-color: #ffffff;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 16px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px -4px 4px 0px rgba($color: #000000, $alpha: 0.25);
    overflow-y: auto;

}

.uploadModal > * {
    flex-shrink: 0;
}

.cancelContainer {
    display: flex;
    justify-content: end;

}

.uploadModalContainer {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 100dvh;
    width: 100dvw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #3d3d3d, $alpha: 0.4);
    overflow-y: hidden;

}

.cancelButton {
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: colors.$primary-dark;
    color: white;
    border-radius: 50%;
    border: none;

}