@use "../../../../styles/colors.scss";

.selectFileInput{
    display: flex;
    flex-direction: column;
    height: 240px;
    background-color: colors.$primary-grey;
    border: 2px solid rgb(#828282, 0.5);
    border-radius: 8px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.imageIconContainer{
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
    border-radius: 4px;
}
#button{
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 4px;
    border: 1.5px solid rgba(colors.$primary-dark, 0.3);
    &:hover{
        border: 2px solid rgba(colors.$primary-dark, 0.4);
        box-shadow: 0px 0px 0px 3px rgba($color: #000000, $alpha: 0.1);
    }
}