@use "../../../../styles/colors.scss";

.select-collage-style{
    margin: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    &_heading{
        display: flex;
        flex-direction: column;
        h4{
            margin: 0;
            font-size: 16px;
            font-weight: 600;
        }
        p{
            margin: 0;
            font-size: 14px;
            color: #666;
        }
    }
}
.collage-style-options{
    display: flex;
    flex-direction: row;
    gap: 12px;
    flex-wrap: wrap;
    
}

.collage-style-card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    min-width: 120px;
    font-size: 14px;
    border-radius: 4px;
    background-color: colors.$primary-grey;
}