@use "../../styles/colors.scss";

.collagePage {
    box-sizing: border-box;
    margin: 0px;
    padding: 24px 16px;
    height: 100vh;

    &_left {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 16px;


    }
}

.menu-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &_button {
        height: 56px;
        width: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: colors.$primary-dark;
        color: white;
        border-radius: 50%;
        border: none;
       
    }
}