.display-thumbnails {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &_heading {
        font-size: 16px;
        margin: 0;
    }

    &_container {
        display: flex;
        flex-direction: row;

        &>* {
            margin-right: -40px;
        }
    }

}

.thumbnail {
    height: 60px;
    width: 60px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 8px;
    border: 2px solid rgba($color: #000000, $alpha: 0.2);

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}